:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-bg-color);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 414px;
    height: 100%;
}

.profile-picture {
    padding: 2px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    margin: 127px 0 15px 0;
}

.insta-slug {
    color: var(--purple);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 33px;
}

.links {
    list-style: none;
    padding-bottom: 38px;
}

.links > li {
    display: flex;
    width: 326px;
    height: 49px;
    border: 2px solid var(--purple);
    color: var(--purple);
    font-weight: 600;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.social {
    list-style: none;
    display: flex;
    width: 236px;
    justify-content: space-around;
}

.social > li {
    height: 24px;
}